body{
    font-family: serif;
    background-color: rgb(219, 219, 219);
}
h1, h2, h3{
    font-family: sans-serif;
}
header{
    text-align: center;
    color: deepskyblue;
    background-color: white;
    padding: 0.5px;
}
#container{
    width: 50%;
    margin: 0 auto;
    background-color: white;
}
article{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
p{
    margin-bottom: 25px;
}
.post-head{
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: solid rgb(175, 174, 174);
    font-weight: bold;
}
footer{
    text-align: center;
}
small{
    color: aquamarine;
}
.post-body{
    border-bottom: solid rgb(175, 174, 174);
}