*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: serif;
    background-color: rgb(219, 219, 219);
}
h1, h2, h3{
    font-family: sans-serif;
}
header{
    text-align: center;
    color: rgb(16, 151, 196);
    background-color: white;
    padding: 20px;
}
#container{
    width: 50%;
    margin: 0 auto;
    background-color: rgb(219, 219, 219);
    
}
article{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}
p{
    margin-bottom: 25px;
}
.post-head{
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: 1px solid rgb(175, 174, 174);
    font-weight: bold;
}
footer{
    text-align: center;
}
small{
    color: aquamarine;
}
.post-body{
    border-bottom: 1px solid rgb(175, 174, 174);
}
h2{
    margin: 0px;
}